shtml{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 13px;
}
.whole-wrapper{
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #e0e0e0;
}

/*Main Application header.*/
.header{
  background: repeat-x url('/images/layout/header_bg.jpg');
  height: 57px;
  width: 100%;
}
/*Main Menu.*/
#btns{
  margin-left:10px;
  position:absolute;
  top:17px;
}
.main-menu, .secondary-menu{
  list-style-type: none;
  margin: 0;
  padding: 0px;
}
.main-menu li{
  float:left;
  background: repeat-x url('/images/layout/btn_bg.jpg');
}
.main-menu li:hover{
  float:left;
  background: repeat-x url('/images/layout/btn_selected.jpg');
}
.main-menu li a{
  color: #fff;
  text-align:center;
  display: block;
  text-decoration: none;
  height: 27px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 2px;
}
.main-menu li.selected{
  background: repeat-x url('/images/layout/btn_selected.jpg') top right;
}
.main-menu li.separator{
  background: no-repeat url('/images/layout/btn_separator.jpg') top right;
  height: 27px;
  width: 2px;
}
/*Hack for allowing simple navigation gem to work*/
.main-menu li.separator a{
  display: none;
}
.main-menu li.first a{
  background: no-repeat url('/images/layout/btn_left.jpg') top left;
}
.main-menu li.last a{
  background: no-repeat url('/images/layout/btn_rigth.jpg') top right;
}
.main-menu li.first a:hover{
  background: no-repeat url('/images/layout/btn_left_selected.jpg') top left;
}
.main-menu li.last a:hover{
  background: no-repeat url('/images/layout/btn_rigth_selected.jpg') top right;
}
.main-menu li.first.selected a{
  background: no-repeat url('/images/layout/btn_left_selected.jpg') top left;
}
.main-menu li.last.selected a{
  background: no-repeat url('/images/layout/btn_rigth_selected.jpg') top right;
}
/*End Main Menu.*/
/*Secondary Menu.*/
.secondary-menu-container{
  padding-bottom: 0px;
  height: 40px;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px solid #fff;
}
.secondary-menu-container h1{
  margin-top: 5px;
  margin-bottom: 2px;
  color: #2a2a2a;
}
.secondary-menu{
  position: absolute;
  bottom: -1px;
  padding-left: 300px;
}
.secondary-menu li{
  float:left;
}
.secondary-menu li.selected{
  background-color: #cacaca;
}
.secondary-menu li a{
  display: block;
  color: #2a2a2a;
  text-decoration: none;
  height: 22px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 2px;
  border: 1px solid;
  border-color: #ffe #aaab9c #ccc #fff;
}
.secondary-menu li a:hover{
  border-color: #aaab9c #fff #fff #ccc;
  background-color: #cacaca;
}
/*End Secondary Menu.*/
.menu{
  float: left;
}
.color-select{
  background-color:red;
  border:2px solid white;
  cursor:pointer;
  float:right;
  height:17px;
  margin-left:9px;
  margin-top:3px;
  width:17px;
}
.user-bar{
  position: absolute;
  right: 7px;
  top: 3px;
}
/* end styles for main application header*/

/*Main Content*/
.content-wrapper{
  background-color: #f2f2f2;
  width: 99%;
  height: 85%;
  border: #d5d5d5 1px solid;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
}

.content{
  margin: 5px;
  overflow: auto;
  height: inherit;
}
/*End Main Content*/

/*Styles for the ingredients*/
.ingredient{
  border: 1px solid #e8e8e8;
  background-color: #fff;
  padding: 5px;
  width: 300px;
  position: relative;
  margin: 6px;
}
.ingredient h4{
  margin-bottom: 2px;
  margin-top: 0px;
}
.ingredient .round-button{
  position: absolute;
  right: 5px;
  top: 30px;
}
/*End Styles for the ingredients*/

/*slide in panel styles*/
#panel{
  border: 1px solid #E8E8E8;
}
.slide-in-panel-p{
  border-top: 3px solid #E8E8E8;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;  
}
.slide-in-panel-p a{
  text-decoration: none;
}
/*end slide in panel styles*/

/*tabbed panel styles*/
ul.tabNavigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tabNavigation li {
  display: inline;
}

ul.tabNavigation li a {
  padding: 3px 5px;
  background-color: #ccc;
  color: #000;
  text-decoration: none;
}

ul.tabNavigation li a.selected,
ul.tabNavigation li a:hover {
  background-color: #333;
  color: #fff;
  padding-top: 7px;
}

ul.tabNavigation li a:focus {
  outline: 0;
}

div.tabs > div {
  padding: 5px;
  margin-top: 3px;
  border: 5px solid #333;
}
/*end tabbed panel styles*/