.clear{
  height: 0px;
  clear: both;
}

/* Styles for forms table*/
table.default-table{
  border: 1px solid #e8e8e8;
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
}
table.default-table tr{
  background-color: #fff;
}
table.default-table th{
  background-color: #f1f1f1;
  color: #333333;
  text-align: left;
  padding: 7px;
}
table.default-table td{
  border: 1px solid #e8e8e8;
  padding: 5px;
}
table.default-table td input, table.default-table td select{
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
}
/*end styles for table*/

/*Styles for listing table*/
table.listing{
  border: 1px solid #e8e8e8;
  border-collapse: collapse;
  width: 50%;
  margin-top: 5px;
}
table.listing tr.odd{
  background-color: #fff;
}
table.listing tr.even{
  background-color: #e8e8e8;
}
table.listing tr:hover{
  background-color: #fffbd2;
}
table.listing th{
  background-color: #f1f1f1;
  color: #333333;
  text-align: left;
  padding: 7px;
}
table.listing td{
  border: 1px solid #e8e8e8;
  padding: 5px;
}
/*End styles for listing table*/

/*Styles for inline forms. Objects should be between a ul*/
/*
.inline-form{
  list-style-type: none;
}

.inline-form li.item{
  display: inline;
  margin-left: 3px;
  float: left;
}

.inline-form li.item div{
  width: 154px;
}

.inline-form li.item input, .inline-form li.item select, .li-input{
  width: 150px;
}

.inline-form li.three-item input, .inline-form li.three-item select, .li-input{
  margin-left:5px;
  width:463px;
}
*/
.fieldWithErrors label {
  background: transparent url(/images/icons/error.png) no-repeat scroll 98% 50%;
}

.fieldWithErrors input {
  background: #ffdbe3;
}
/* end of styles for inline forms. Objects should be between a ul*/

.big-input{
  width: 150px;
}

.total{
  color :red;
}

.grant-total {
  font-weight:bold;
  color: #2ad100;
  margin-right: 46px;
}

.clean-ul{
  list-style-type: none;
}

.clean-ul li{
  margin: 2px;
}

#ingredients_wrapper{
  width: 100%;
}
#ingredients_form, #ingredients_list{
  width: 49%;
  vertical-align: top;
}
#ingredients_form{
  float: left;
}
#ingredients_list{
  float: right;
}

/*Styles for the show page of orders*/
.order-show{
  width: 90%;
}
.order-show table{
  margin-left: auto;
  margin-right: auto;
}
.order-header table{
  width: 100%;
}
/*end Styles for the show page of orders*/