.clear{
  height: 0px;
  clear: both;
}

/* Styles for table*/
table.default-table{
  border: 1px solid #e8e8e8;
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
}
table.default-table th{
  background-color: #f1f1f1;
  color: #333333;
  text-align: left;
}
table.default-table td{
  border: 1px solid #e8e8e8;
  padding: 5px;
}
table.default-table td input, table.default-table td select{
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
}
/*
table {
  background:#D3E4E5;
  border:1px solid gray;
  border-collapse:collapse;
  color:#fff;
  font:normal 12px verdana, arial, helvetica, sans-serif;
}
caption {
  border:1px solid #5C443A;
  color:#5C443A;
  font-weight:bold;
  letter-spacing:20px;
  padding:6px 4px 8px 0px;
  text-align:center;
  text-transform:uppercase;
}
td, th {
  color:#363636;
  padding:.4em;
}
tr {
  border:1px dotted gray;
}
thead th, tfoot th {
  background:#5C443A;
  color:#FFFFFF;
  padding:3px 10px 3px 10px;
  text-align:left;
  text-transform:uppercase;
}
tbody td a {
  color:#363636;
  text-decoration:none;
}
tbody td a:visited {
  color:gray;
  text-decoration:line-through;
}
tbody td a:hover {
  text-decoration:underline;
}
tbody th a {
  color:#363636;
  font-weight:normal;
  text-decoration:none;
}
tbody th a:hover {
  color:#363636;
}
tbody td+td+td+td a {
  background-image:url('/images/bullet_blue.png');
  background-position:left center;
  background-repeat:no-repeat;
  color:#03476F;
  padding-left:15px;
}
tbody td+td+td+td a:visited {
  background-image:url('/images/bullet_white.png');
  background-position:left center;
  background-repeat:no-repeat;
}
tbody th, tbody td {
  text-align:left;
  vertical-align:top;
}
tfoot td {
  background:#5C443A;
  color:#FFFFFF;
  padding-top:3px;
}
.odd {
  background:#fff;
}
tbody tr:hover {
  background:#99BCBF;
  border:1px solid #03476F;
  color:#000000;
}
*/
/*end styles for table*/

/*Styles for inline forms. Objects should be between a ul*/
.inline-form{
  list-style-type: none;
}

.inline-form li.item{
  display: inline;
  margin-left: 3px;
  float: left;
}

.inline-form li.item div{
  width: 154px;
}

.inline-form li.item input, .inline-form li.item select, .li-input{
  width: 150px;
}

.inline-form li.three-item input, .inline-form li.three-item select, .li-input{
  margin-left:5px;
  width:463px;
}

.fieldWithErrors {
  background: transparent url(/images/icons/error.png) no-repeat scroll 98% 50%;
}
/* end of styles for inline forms. Objects should be between a ul*/

.big-input{
  width: 150px;
}

.total{
  color :red;
}

.grant-total {
  font-weight:bold;
  color: #2ad100;
  margin-right: 46px;
}

.clean-ul{
  list-style-type: none;
}

.clean-ul li{
  margin: 2px;
}

#ingredients_wrapper{
  width: 100%;
}
#ingredients_form, #ingredients_list{
  width: 49%;
  vertical-align: top;
}
#ingredients_form{
  float: left;
}
#ingredients_list{
  float: right;
}