<div style="float: left; background-color: #ccc">
  <div id="panel" style="display: none">
    <%= panel_content %>
  </div>
  <a href="#" onclick="animate(this.previous('div')); return false;"><%= button_text %></a>
</div>