<div style=" background-color: #ccc">
  <div id="panel" style="display: none">
    <%= panel_content %>
  </div>
  <p>
  <a href="#" onclick="animate($('panel')); return false;"><%= button_text %></a>
  </p>
</div>