<%content_for :title, t('titles.new', :model => Ingredient.human_name) %>

<% form_for(@ingredient, :html => {:id => 'styled-form'}) do |f| %>

  <%= render :partial => 'ingredients/form', :locals => {:form => f} %>

  <div class="clear"></div>

  <p id="submit">
    <%= f.submit t('forms.create'), :class => 'big-button' %>
    <%= link_to t('forms.cancel'), ingredients_path %>
  </p>

<% end %>

<%= link_to t('forms.back'), ingredients_path %>