<%content_for :title, t('titles.editing', :model => Company.human_name) %>

<% form_for(@company, :html => {:id => 'styled-form'}) do |f| %>

  <%= render :partial => 'company/form', :locals => {:form => f} %>

  <div class="clear"></div>

  <p id="submit">
    <%= f.submit t('forms.update'), :class => 'big-button' %>
    <%= link_to t('forms.cancel'), company_index_path %>
  </p>

<% end %>