<div id="ingredients">
  <div id="formulas">
    <% #we are only showing the forms for existing ingredients %>
    <% if !@product.formulas.first.new_record? %>
      <%= render :partial => 'products/formula', :collection => @product.formulas %>
    <% end %>
  </div>
  <div id="active-ingredients">
    <% if Ingredient.all %>
      <ul>
        <% Ingredient.all.each do |ingredient| %>
        <% json = ingredient.to_json(:only => [:id, :name]) %>
        <li><%= a_as_tag(ingredient.name, {:onclick => "\'IngredientsHelper.createIngredientForm(#{json}, $(\"formulas\"), this.up())\'"})  %> </li>
        <% end %>
      </ul>    
    <% else %>
      <p>Fill in some ingredients first</p>
    <% end %>
  </div>

<%#= add_formula_link "Add another ingredient" %>
</div>
